.env.local
.env.local.bak.github
.claude/
.omc/
hooks
.playwright-mcp/
site/.omc/
site/.ruff_cache/

# OS-specific
Thumbs.db
ehthumbs.db
desktop.ini
.DS_Store
.AppleDouble
.LSOverride

# Editor/IDE
.vscode/
.idea/
*.swp
*~
